* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;

}

.container {
    display: flex;
    flex-direction: column;
    background: #000;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

    & i {
        position: absolute;
        background: #fff;
        border-radius: 50%;
    }


    & .moon {
        position: relative;
        top:-50px;
        right: 0px;
        width: 26%;
        height: 56%;
        z-index: 999;
    }

        
     & h1 {
         padding: 0;
         top: -35px;
         position: relative;
         color: #f7f1e3;
         font-size: 8rem;
         z-index: 999;
         -webkit-box-reflect: below -80px linear-gradient(transparent, rgba(0,0,0,0.1));
     }
}